@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Book</h1>
    <p class="lead">Introduction to Azure: a Step by Step Tutorial</p>
</div>

<div>
    @Html.ActionLink("List of chapters", "Index", "Chapters")
</div>
